.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  color: rgb(135, 135, 135);
  padding: 16px;
  margin: 30px auto;

  border-radius: 4px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
  text-align: left;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;

  list-style: none;
}

.Weather img {
  height: 100px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  top: -15px;
  color: orange;
}
.Weather .temperature {
  font-weight: 400;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  line-height: 16px;
  font-weight: 400px;
  position: relative;
  top: -34px;
}
